<div class="container-about py-5">
    <div class="container">


        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <h2>Auto Cerca</h2>
                <h5>¿Quienes somos?</h5>
<p>
    Auto Cerca es una plataforma digital, exclusiva para el comer-
cio en línea de automóviles y servicios en la República Domin-
icana, la marca fue fundada por el Tecnólogo y Administrador

de Negocios, Enmanuel Díaz, CEO – Social Media Strategist,
editor de contenidos y copywriter. Impulsado por la visión de
ayudar a los comerciantes de automóviles a potenciar sus
relaciones comerciales y ventas, de modo que se puedan

transformar los procesos y vínculos de negociación en el mer-
cado actual.
</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12"></div>
        </div>

    </div>
</div>