<div class="content-p">
    <h2 class="pb-3 text-sec">Calendario de envío (Ro-Ro) </h2>
    <div class="card shadow-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                    <div class="text-secondary">País de envío</div>
                    <hr>
                    <div class="text-value">
                        <img width="20px" src="../../../../../assets/img/ibique-flag.png" alt="">
                        <span class="ps-2">Ibique</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-4 text-success">
                    <div>Fecha de salida</div>
                    <hr>
                    <div class="text-value">2022.07.04</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-4 text-danger">
                    <div>Fecha límite de pago</div>
                    <hr>
                    <div class="text-value">2022.07.04</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-4 pe-3">
    <p>* Los horarios están sujetos a cambios por parte de la naviera, documentación, solicitud de repuestos y altura del vehículo. </p>

       <p>* Si tiene alguna solicitud adicional al momento de comprar su Vehiculo (piezas, accesorios, etc.) por favor envíenos su recibo de transferencia dentro de los<strong> 7 días anteriores a la fecha estimada de salida del vehiculo</strong> .</p> 
   </div>
</div>