.container-testimonial{
    width: 100%;
    min-height: 500px;
    background: var(--tertiary);
}

h3{
    line-height: 10px;
}

.swiper-container{
    padding-top: 40px;
    padding-left: 70px;
}

.discount{
    text-decoration: line-through;
    color: rgb(170, 170, 170);
    font-weight: 400;
}

.card{
    height: 340px;
    border-radius: 20px;
}

.card-img-top{
    border-radius: 20px;
}

@media screen and (max-width:992px) {

    .swiper-container{       
        padding-left: 20px;
    }
}